@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">The Biggest and Best Building Materials Store!</h1>
    <div class="row justify-content-md-center">
        @foreach (var item in Model.TilesList)
        {
        
            <div class="card col-3 m-2">
                <img src="@item.ImageUri" class="p-3" style="border-radius: 25px">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <a class="btn btn-primary" asp-page="/Details" 
                                               asp-route-id="@item.TileId" 
                                               asp-route-slug="@item.NameSlug">See More</a>
                </div>
            </div>
        }
    </div>
</div>

